.nav-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #111;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #222;
  height: 60px;
  z-index: 10;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #aaa;
  font-size: 12px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-item.ativo {
  color: #ffcc00;
}

.nav-item i {
  margin-bottom: 4px;
}

.nav-item:hover {
  color: #ffcc00;
}
